.h1 {
  font: 50px/60px "Arial", sans-serif;
  color: #888888;
  text-align: center;
  letter-spacing: 0.05em; 
}

.textarea {
  display: block;
  height: 30vh;
  width: 850px;
  margin: 0 auto 50px auto;
  border: 2px #000000 solid;
}

.keyboard {
  margin: 0 auto;
  width: 850px;
  padding: 5px;
  border: 1px #eeeeee solid;
  background-color: #bbbbbb;
  border-radius: 10px;
  user-select: none;

  .keyboard-row {
    display: flex;
    padding-bottom: 5px;
    justify-content: space-between;

    .keyboard-row__key {
      cursor: pointer;
      display: flex;
      background-color: #fafafa;
      font: 400 16px/20px "Arial", sans-serif;
      color: #000000;
      height: 50px;
      min-width: 50px;
      border: 1px #dddddd solid;
      border-radius: 5px;
      justify-content: center;
      align-items: center;
      box-shadow: 0 2px #999999;

      &:hover {
        background-color: #dddddd;
      }

      &.keyboard-row__key_active {
        background-color: #cccccc;
        border-color: #d3d3d3;
      }

      &.keyboard-row__key_special {
        min-width: 108px;
      }

      &.keyboard-row__key_space {
        min-width: 446px;
      }

      
    }
  }
}
